node_modules
.idea
.vscode
.deps_check
.DS_Store
.nyc_output
npm-debug.log*
.eslintcache
*.iml
selenium-debug.log
chromedriver.log
test/e2e/db.json
docs/_book
dev-helpers/examples

# dist
flavors/**/dist/*
/lib
/es
dist/log*

# Cypress
test/e2e-cypress/screenshots
test/e2e-cypress/videos
/dist/swagger-ui-bundle.js.LICENSE.txt
/dist/swagger-ui-es-bundle-core.js.LICENSE.txt
/dist/swagger-ui-es-bundle.js.LICENSE.txt
/dist/swagger-ui-standalone-preset.js.LICENSE.txt
